.eee {

    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
}
.vlad {
    font-weight: 900;
    color: #900;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: auto;
}